/* body {
    background: #4E4E50;
} */

.dropdown-menu {
  position: absolute;
  display: none;
}

.dropdown-menu li {
  display: block;
}

.categories:hover + .categ_sub {
  display: block;
}