{% extends 'authorized_base.html' %}

{% block title %}
Authorized about
{% endblock %}

{% block id %}
{{id}}
{% endblock id %}

{% block body %}
<div class="container">
    <h2>Этот сервис является проектом в рамках курса ВШЭ ФКН Теория баз данных</h2>
    <b>Команда разработчиков:</b><br>
    <a style="color:#EE4C7C; text-decoration: none;" target="_blank" href="https://vk.com/dianissimo_z"><em>Зиннурова Диана</em></a><br>
    <a style="color:#EE4C7C; text-decoration: none;" target="_blank" href="https://vk.com/ananastassssia"><em>Руденко Анастасия</em></a><br>
    <a style="color:#EE4C7C; text-decoration: none;" target="_blank" href="https://vk.com/toocoolforhighschool"><em>Виноградова Ульяна</em></a><br>
</div>
{% endblock %}