{% extends 'authorized_base.html' %}

{% block title %}
Personal account
{% endblock %}

{% block id %}
{{id}}
{% endblock id %}

{% block body %}
<main class="form-signin text-center container">
  <form method = "post" action="/change_password/{{id}}">
    <h1 class="h3 mb-3 fw-normal">Изменить пароль</h1>

    <div class="form-floating">
      <input style="background-color:#1A1A1D;color:#4E4E50" type="password" class="form-control" id="floatingOldPassword" placeholder="OldPassword" name="oldpassword">
      <label for="floatingOldPassword">Пароль</label>
    </div>
    <br>
    <div class="form-floating">
      <input style="background-color:#1A1A1D;color:#4E4E50" type="password" class="form-control" id="floatingPassword" placeholder="Password" name="newpassword">
      <label for="floatingPassword">Новый пароль</label>
    </div>
    <br>
    <div class="form-floating">
      <input style="background-color:#1A1A1D;color:#4E4E50" type="password" class="form-control" id="floatingPasswordRepeat" placeholder="Password" name="newpassword_">
      <label for="floatingPasswordRepeat">Повторите новый пароль</label>
    </div>
    <br>
    <input style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type = "submit" value = "Сохранить" name = "save" />
    <!-- <a href="http://127.0.0.1:5000/personal_account" class="button">
      <button style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="button">Сохранить</button>
    </a> -->
  </form>
</main>
{% endblock %}