{% extends 'registration.html' %}

{% block title %}
Error
{% endblock %}

{% block body %}
<div class="container">
    <h1 align="center" style="color:whitesmoke">{{message_error}}</h1>
    <br><br>
<!--    <a href="http://127.0.0.1:5000{{redir}}" class="button">
        <button style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="button">Попробовать снова</button>
      </a> -->
    <a href="http://127.0.0.1:5000{{redir}}" class="button">
    <input style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="submit" value="{{massage}}" name="error" />
        </a>
</div>
{% endblock %}