{% extends 'authorized_base.html' %}

{% block title %}
Authorized index
{% endblock %}

{% block id %}
{{id}}
{% endblock id %}

{% block body %}

<head>
	<meta charset="UTF-8">
	<title>Show Data on Google Pie Chart using Python Flask</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			{% for key, value in data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: '',
          backgroundColor: 'transparent',
          legend: {textStyle: {color: 'white'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
      google.charts.setOnLoadCallback(drawChart);
    </script>
</head>
<body class="form-signin text-left container">
	<div style="margin: 10px 0 0 10px;width: 1000px">
		<h3>{{Title}}</h3>
		<div id="piechart" style="width: 900px; height: 500px;"></div>
	</div>
</body>
{% endblock%}








<!-- <head>
    <meta charset="UTF-8">
    <title>Python Flask Show Data on Google Pie Chart</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        // data.addColumn('string', 'Browser');
        // data.addColumn('number', 'Percentage');
        // data.addRows([
        //     ['Firefox', 45.0],
        //     ['IE', 26.8],
        //     ['Chrome', 12.8],
        //     ['Safari', 8.5],
        //     ['Opera', 6.2],
        //     ['Others', 0.7]
        // ]);
        var data = google.visualization.arrayToDataTable([
            {% for key, value in data.items() %}
                // {% print(value) %}
                {% if value != 0 %}
                    ['{{ key }}', '{{ value }}'],
                {% else %}
                    ['{{ key }}', {{ value }}],
                {% endif %}
            {% endfor %}
        ]);
        var options = {
            annotations: {
                textStyle: {
                    fontSize: 18,
                    color: 'white',
                    }
            },
            legend: {textStyle: {color: 'white'}},
            titleTextStyle: {color: 'white', fontSize: 24, bold:false, italic: true},
            backgroundColor: 'transparent',
            // pieHole: 0.5,
            pieStartAngle: 100,
        }; 
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
    // google.charts.setOnLoadCallback(drawChart);
</script>
</head>
<main class="form-signin text-left container">
    <h3>Статистика по выложенным задачам</h3>
    <h6>{{data}}</h6>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</main> -->
