{% extends 'authorized_base.html' %}

{% block title %}
Personal account
{% endblock %}

{% block id %}
{{id}}
{% endblock id %}

{% block body %}
<div class="container">
    <h2>Добро пожаловать, {{data[2]}}!</h2>
    <h3>Ваш рейтинг {{rating}}⭐️</h3><br>
    <p style="margin-left: 50px;"><b>Ваша страна: </b>&nbsp&nbsp&nbsp {{data[1]}}</p>
    <p style="margin-left: 50px;"><b>Ваш телефон: </b>&nbsp&nbsp {{data[3]}}</p>
    <p style="margin-left: 50px;"><b>Ваш email: </b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{data[0]}}</p>
    <p style="margin-left: 50px;"><b>Описание:  </b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{data[4]}}</p>
    <br><br>
   <form action="/redir_info/{{id}}">
      <button style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="submit">Изменить информацию</button>
   </form>
    <!-- <input style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="submit" value="Изменить информацию" name="change_information" />
    <br><br> -->
   <br>

    <form action="/redir_password/{{id}}">
      <button style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="submit">Сменить пароль</button>
    </form>
    <br>

    <form action="/show_stat/{{id}}/post">
      <button style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="submit">Статистика опубликованных задач</button>
    </form>
    <br>

    <form action="/show_stat/{{id}}/solve">
      <button style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="submit">Статистика решенных задач</button>
    </form>
    <br>
    <a href="http://127.0.0.1:5000" class="button">
      <button style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="button">Выйти из аккаунта</button>
    </a>
    <!-- <input style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="submit" value="Сменить пароль" name="change_password" /> -->
</div>
{% endblock %}