{% extends 'authorized_base.html' %}

{% block title %}
Select order
{% endblock %}

{% block id %}
{{id}}
{% endblock id %}

{% block body %}
<div class="container">
<!--    <form method = "get", action="/get_registration">-->
    <h1 class="h3 mb-3 fw-normal">Выберите заказ</h1><br><br>

    <b>Предмет: subject_name</b><br>
    <b>Название: problem_name</b><br>
    <b>Описание: description</b><br>
    <b>Файл с заданием: problem_file</b><br>
    <b>Срок сдачи: deadline</b><br>
    <b>Цена: price</b>
    <br><br>
<!--    <a href="http://127.0.0.1:5000/selected_orders/{{id}}" class="button">
      <button style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="button">Выбрать</button>
    </a> -->
    <input style="background:#EE4C7C; border:#EE4C7C" class="w-100 btn btn-lg btn-primary" type="submit" value="Выбрать" name="select" />


    <br><br><br>
    <b>Другие заказы</b>
<!--    </form>>-->
</div>
{% endblock %}