{% extends 'authorized_base.html' %}

{% block title %}
Select order
{% endblock %}

{% block id %}
{{id}}
{% endblock id %}

{% block body %}
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
    }

    td {
        border: 1px solid #EE4C7C;
        text-align: center;
        padding: 7px;
    }
    th {
        background-color: rgb(230, 89, 131);
        text-align: center;
        padding: 8px;
    }
    table.dataTable thead .sorting_asc:after {
        padding-left: 1em;
        content: "\2191";
        color: 'red'
    }
</style>

<table align="center">
  <thead>
    <tr>
        {% for col in columns %}
        <th>{{col}}</th>
         {% endfor %}
        <th>Утвердить</th>
        <th>Отклонить</th>
    </tr>
    </thead>
    <tbody>
     {% for row in range(lenth) %}
            <tr>
                {% for i in range(number) %}
                    <td>{{output_data[row][i]}}</td>
                {% endfor %}

                <form method='post' action="/approve_problem/{{id}}/{{prob_ids[row][0]}}">
                    <td>
                        <input style="background:#EE4C7C; border:#EE4C7C" type="submit" value="Утвердить" name="approve{{prob_ids[row][0]}}" />
                    </td>
                </form>
                <form method='post' action="/reject_problem/{{id}}/{{prob_ids[row][0]}}">
                    <td>
                        <input style="background:#EE4C7C; border:#EE4C7C" type="submit" value="Отклонить" name="reject{{prob_ids[row][0]}}" />
                    </td>
                </form>
<!--                    </td>-->
            </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}

