{% extends 'authorized_base.html' %}

{% block title %}
Select order
{% endblock %}

{% block id %}
{{id}}
{% endblock id %}

{% block body %}
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 70%;
    }

    td {
        border: 1px solid #EE4C7C;
        text-align: center;
        padding: 7px;
    }
    th {
        background-color: rgb(230, 89, 131);
        text-align: center;
        padding: 8px;
    }
    table.dataTable thead .sorting_asc:after {
        padding-left: 1em;
        content: "\2191";
        color: 'red'
    }
</style>

<table align="center">
  <thead>
    <tr>
        {% for col in columns %}
        <th>{{col}}</th>
         {% endfor %}
    </tr>
    </thead>
    <tbody>
     {% for row in output_data %}
            <tr>
                {% for i in range(number) %}
                    <td>{{row[i]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

