{% extends 'authorized_base.html' %}

{% block title %}
Rating
{% endblock %}

{% block id %}
{{id}}
{% endblock id %}

{% block body %}
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
    }

    td {
        border: 1px solid #EE4C7C;
        text-align: center;
        padding: 7px;
    }
    th {
        background-color: rgb(230, 89, 131);
        text-align: center;
        padding: 8px;
    }
    table.dataTable thead .sorting_asc:after {
        padding-left: 1em;
        content: "\2191";
        color: 'red'
    }
</style>

<main class="form-signin text-left container">
    <h2>Рейтинг пользователей {{Sub_name}}</h2><br>

    <form method="post" action="/trans_sub/{{id}}" >
        <a>Вывести рейтинг по предмету</a>
        <select style="background-color:rgb(230, 89, 131);color: rgb(245, 229, 234)" id="floatingSubject" placeholder="Subject" name="subject">
            <option value=Математика data-id="10414533690">Математика</option>
            <option value="Английский язык" data-id="26334910464">Английский язык</option>
            <option value="Русский язык" data-id="10400654407">Русский язык</option>
            <option value=Литература data-id="10426428818">Литература</option>
            <option value="Иностранный язык" data-id="10410450732">Иностранный язык</option>
            <option value=Информатика data-id="10410522537">Информатика</option>
            <option value=История data-id="10419531540">История</option>
            <option value=Обществознание data-id="10400909101">Обществознание</option>
            <option value=География data-id="10395022134">География</option>
            <option value=Физика data-id="10396157513">Физика</option>
            <option value=Химия data-id="10401935333">Химия</option>
            <option value=Экология data-id="10419531540">Экология</option>
            <option value=Биология data-id="10400909101">Биология</option>
            <option value="Физическая культура" data-id="10395022134">Физическая культура</option>
            <option value=Философия data-id="10396157513">Философия</option>
            <option value=Социология data-id="10401935333">Социология</option>
            <option value=Логистика data-id="10419531540">Логистика</option>
            <option value=Дизайн data-id="10400909101">Дизайн</option>
            <option value=Программирование data-id="10395022134">Программирование</option>
            <option value=Право data-id="10396157513">Право</option>
            <option value=Политология data-id="10401935333">Политология</option>
        </select>      

        </select>
        <input style="background:rgb(230, 89, 131); border:#EE4C7C" class="w-80 btn btn-sm btn-primary" type = "submit" value = "Отсортировать задачи" name = "sort" />
    </form>

</main><br>

<table align="center">
  <thead>
    <tr>
        {% for col in columns %}
        <th>{{col}}</th>
         {% endfor %}
    </tr>
    </thead>
    <tbody>
     {% for row in range(lenth) %}
            <tr>
                {% for i in range(number) %}
                    <td>{{output_data[row][i]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

